<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
        <a href="/about">About</a>
    </div>

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In non iure maiores totam vero, velit pariatur molestiae rem modi distinctio eos, laboriosam magnam, earum ipsa! Hic, cumque incidunt? Iusto, inventore!</p>

</body>
</html>